@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 9 9 11;
    --foreground: 250 250 250;
    --card: 24 24 27;
    --card-foreground: 250 250 250;
    --border: 39 39 42;
    --input: 39 39 42;
    --ring: 200 241 53;
    --radius: 0.75rem;
    --brand: 200 241 53;
  }

  * {
    @apply border-zinc-800;
  }

  html {
    @apply bg-zinc-950 text-white antialiased;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-zinc-950 text-white;
  }

  /* Scrollbar personnalisée */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-zinc-900;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-500;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
